.search-container {
  height: 10rem;
  margin: 1rem auto ;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.add-button {
  width: 10rem;
  margin-bottom: .5rem;
}
.record-row:hover {
 background: gray;
}
